<div>
    <h1>Parameters</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Known config</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="conf in knownConfigs">
                <td>{{ conf }} <button ng-click="changeConfig(conf)" type="button" class="btn btn-primary btn-sm">Use</button></td>
            </tr>
        </tbody>
    </table>
    <h2>Current config</h2>
    <p>
        {{ currentConfig }}
    </p>
    <a ui-sref="login">Back</a>
</div>